* text=auto !eol
java/build.xml -text
java/dist/doc/allclasses-frame.html -text
java/dist/doc/allclasses-noframe.html -text
java/dist/doc/constant-values.html -text
java/dist/doc/deprecated-list.html -text
java/dist/doc/help-doc.html -text
java/dist/doc/index-all.html -text
java/dist/doc/index.html -text
java/dist/doc/org/labkey/remoteapi/Command.html -text
java/dist/doc/org/labkey/remoteapi/CommandException.html -text
java/dist/doc/org/labkey/remoteapi/CommandResponse.html -text
java/dist/doc/org/labkey/remoteapi/Connection.html -text
java/dist/doc/org/labkey/remoteapi/PostCommand.html -text
java/dist/doc/org/labkey/remoteapi/Test.html -text
java/dist/doc/org/labkey/remoteapi/assay/AssayListCommand.html -text
java/dist/doc/org/labkey/remoteapi/assay/AssayListResponse.html -text
java/dist/doc/org/labkey/remoteapi/assay/package-frame.html -text
java/dist/doc/org/labkey/remoteapi/assay/package-summary.html -text
java/dist/doc/org/labkey/remoteapi/assay/package-tree.html -text
java/dist/doc/org/labkey/remoteapi/package-frame.html -text
java/dist/doc/org/labkey/remoteapi/package-summary.html -text
java/dist/doc/org/labkey/remoteapi/package-tree.html -text
java/dist/doc/org/labkey/remoteapi/query/DeleteRowsCommand.html -text
java/dist/doc/org/labkey/remoteapi/query/Filter.Operator.html -text
java/dist/doc/org/labkey/remoteapi/query/Filter.html -text
java/dist/doc/org/labkey/remoteapi/query/InsertRowsCommand.html -text
java/dist/doc/org/labkey/remoteapi/query/RowsResponse.html -text
java/dist/doc/org/labkey/remoteapi/query/SaveRowsCommand.html -text
java/dist/doc/org/labkey/remoteapi/query/SaveRowsResponse.html -text
java/dist/doc/org/labkey/remoteapi/query/SelectRowsCommand.html -text
java/dist/doc/org/labkey/remoteapi/query/SelectRowsResponse.ColumnDataType.html -text
java/dist/doc/org/labkey/remoteapi/query/SelectRowsResponse.html -text
java/dist/doc/org/labkey/remoteapi/query/Sort.Direction.html -text
java/dist/doc/org/labkey/remoteapi/query/Sort.html -text
java/dist/doc/org/labkey/remoteapi/query/UpdateRowsCommand.html -text
java/dist/doc/org/labkey/remoteapi/query/package-frame.html -text
java/dist/doc/org/labkey/remoteapi/query/package-summary.html -text
java/dist/doc/org/labkey/remoteapi/query/package-tree.html -text
java/dist/doc/overview-frame.html -text
java/dist/doc/overview-summary.html -text
java/dist/doc/overview-tree.html -text
java/dist/doc/package-list -text
java/dist/doc/resources/inherit.gif -text
java/dist/doc/serialized-form.html -text
java/dist/doc/stylesheet.css -text
java/dist/labkey-remote-api-1.0.jar -text
java/remoteapi.iml -text
java/remoteapi.ipr -text
java/src/org/apache/commons/httpclient/contrib/ssl/EasySSLProtocolSocketFactory.java -text
java/src/org/apache/commons/httpclient/contrib/ssl/EasyX509TrustManager.java -text
java/src/org/labkey/remoteapi/Command.java -text
java/src/org/labkey/remoteapi/CommandException.java -text
java/src/org/labkey/remoteapi/CommandResponse.java -text
java/src/org/labkey/remoteapi/Connection.java -text
java/src/org/labkey/remoteapi/PostCommand.java -text
java/src/org/labkey/remoteapi/Test.java -text
java/src/org/labkey/remoteapi/assay/AssayListCommand.java -text
java/src/org/labkey/remoteapi/assay/AssayListResponse.java -text
java/src/org/labkey/remoteapi/query/DeleteRowsCommand.java -text
java/src/org/labkey/remoteapi/query/Filter.java -text
java/src/org/labkey/remoteapi/query/InsertRowsCommand.java -text
java/src/org/labkey/remoteapi/query/RowsResponse.java -text
java/src/org/labkey/remoteapi/query/SaveRowsCommand.java -text
java/src/org/labkey/remoteapi/query/SaveRowsResponse.java -text
java/src/org/labkey/remoteapi/query/SelectRowsCommand.java -text
java/src/org/labkey/remoteapi/query/SelectRowsResponse.java -text
java/src/org/labkey/remoteapi/query/Sort.java -text
java/src/org/labkey/remoteapi/query/UpdateRowsCommand.java -text
