* text=auto !eol
java/README.html -text
java/build.xml -text
java/manifest.mf -text
java/remoteapi.iml -text
java/remoteapi.ipr -text
java/src/log4j.xml -text
java/src/org/apache/commons/httpclient/contrib/ssl/EasySSLProtocolSocketFactory.java -text
java/src/org/apache/commons/httpclient/contrib/ssl/EasyX509TrustManager.java -text
java/src/org/labkey/remoteapi/ApiVersionException.java -text
java/src/org/labkey/remoteapi/Command.java -text
java/src/org/labkey/remoteapi/CommandException.java -text
java/src/org/labkey/remoteapi/CommandResponse.java -text
java/src/org/labkey/remoteapi/Connection.java -text
java/src/org/labkey/remoteapi/PostCommand.java -text
java/src/org/labkey/remoteapi/ResponseObject.java -text
java/src/org/labkey/remoteapi/assay/AssayListCommand.java -text
java/src/org/labkey/remoteapi/assay/AssayListResponse.java -text
java/src/org/labkey/remoteapi/assay/Batch.java -text
java/src/org/labkey/remoteapi/assay/Data.java -text
java/src/org/labkey/remoteapi/assay/ExpObject.java -text
java/src/org/labkey/remoteapi/assay/ImportRunCommand.java -text
java/src/org/labkey/remoteapi/assay/ImportRunResponse.java -text
java/src/org/labkey/remoteapi/assay/Run.java -text
java/src/org/labkey/remoteapi/assay/SaveAssayBatchCommand.java -text
java/src/org/labkey/remoteapi/assay/SaveAssayBatchResponse.java -text
java/src/org/labkey/remoteapi/assay/nab/NAbRunsCommand.java -text
java/src/org/labkey/remoteapi/assay/nab/NAbRunsResponse.java -text
java/src/org/labkey/remoteapi/assay/nab/model/NAbCurveParameters.java -text
java/src/org/labkey/remoteapi/assay/nab/model/NAbNeutralizationResult.java -text
java/src/org/labkey/remoteapi/assay/nab/model/NAbReplicate.java -text
java/src/org/labkey/remoteapi/assay/nab/model/NAbRun.java -text
java/src/org/labkey/remoteapi/assay/nab/model/NAbSample.java -text
java/src/org/labkey/remoteapi/assay/nab/model/NAbWell.java -text
java/src/org/labkey/remoteapi/assay/nab/model/NAbWellGroup.java -text
java/src/org/labkey/remoteapi/collections/CaseInsensitiveHashMap.java -text
java/src/org/labkey/remoteapi/ms2/StartSearchCommand.java -text
java/src/org/labkey/remoteapi/ms2/StartSearchResponse.java -text
java/src/org/labkey/remoteapi/pipeline/FileNotificationCommand.java -text
java/src/org/labkey/remoteapi/pipeline/FileNotificationResponse.java -text
java/src/org/labkey/remoteapi/query/BaseQueryCommand.java -text
java/src/org/labkey/remoteapi/query/BaseSelect.java -text
java/src/org/labkey/remoteapi/query/ContainerFilter.java -text
java/src/org/labkey/remoteapi/query/DateParser.java -text
java/src/org/labkey/remoteapi/query/DeleteRowsCommand.java -text
java/src/org/labkey/remoteapi/query/ExecuteSqlCommand.java -text
java/src/org/labkey/remoteapi/query/Filter.java -text
java/src/org/labkey/remoteapi/query/GetQueriesCommand.java -text
java/src/org/labkey/remoteapi/query/GetQueriesResponse.java -text
java/src/org/labkey/remoteapi/query/GetQueryDetailsCommand.java -text
java/src/org/labkey/remoteapi/query/GetQueryDetailsResponse.java -text
java/src/org/labkey/remoteapi/query/GetSchemasCommand.java -text
java/src/org/labkey/remoteapi/query/GetSchemasResponse.java -text
java/src/org/labkey/remoteapi/query/InsertRowsCommand.java -text
java/src/org/labkey/remoteapi/query/Row.java -text
java/src/org/labkey/remoteapi/query/RowMap.java -text
java/src/org/labkey/remoteapi/query/RowsResponse.java -text
java/src/org/labkey/remoteapi/query/RowsResponseRowset.java -text
java/src/org/labkey/remoteapi/query/Rowset.java -text
java/src/org/labkey/remoteapi/query/SaveRowsCommand.java -text
java/src/org/labkey/remoteapi/query/SaveRowsResponse.java -text
java/src/org/labkey/remoteapi/query/SelectRowsCommand.java -text
java/src/org/labkey/remoteapi/query/SelectRowsResponse.java -text
java/src/org/labkey/remoteapi/query/Sort.java -text
java/src/org/labkey/remoteapi/query/UpdateRowsCommand.java -text
java/src/org/labkey/remoteapi/query/jdbc/BaseJDBC.java -text
java/src/org/labkey/remoteapi/query/jdbc/LabKeyConnection.java -text
java/src/org/labkey/remoteapi/query/jdbc/LabKeyDatabaseMetaData.java -text
java/src/org/labkey/remoteapi/query/jdbc/LabKeyDriver.java -text
java/src/org/labkey/remoteapi/query/jdbc/LabKeyResultSet.java -text
java/src/org/labkey/remoteapi/query/jdbc/LabKeyResultSetMetaData.java -text
java/src/org/labkey/remoteapi/query/jdbc/LabKeyStatement.java -text
java/src/org/labkey/remoteapi/query/jdbc/ResultSetData.java -text
java/src/org/labkey/remoteapi/query/jdbc/Test.java -text
java/src/org/labkey/remoteapi/sas/Main.java -text
java/src/org/labkey/remoteapi/sas/NetrcFileParser.java -text
java/src/org/labkey/remoteapi/sas/SASBaseSelectCommand.java -text
java/src/org/labkey/remoteapi/sas/SASConnection.java -text
java/src/org/labkey/remoteapi/sas/SASDeleteRowsCommand.java -text
java/src/org/labkey/remoteapi/sas/SASExecuteSqlCommand.java -text
java/src/org/labkey/remoteapi/sas/SASInsertRowsCommand.java -text
java/src/org/labkey/remoteapi/sas/SASRow.java -text
java/src/org/labkey/remoteapi/sas/SASSaveRowsCommand.java -text
java/src/org/labkey/remoteapi/sas/SASSaveRowsResponse.java -text
java/src/org/labkey/remoteapi/sas/SASSelectRowsCommand.java -text
java/src/org/labkey/remoteapi/sas/SASSelectRowsResponse.java -text
java/src/org/labkey/remoteapi/sas/SASUpdateRowsCommand.java -text
java/src/org/labkey/remoteapi/security/ACL.java -text
java/src/org/labkey/remoteapi/security/AddGroupMembersCommand.java -text
java/src/org/labkey/remoteapi/security/CreateContainerCommand.java -text
java/src/org/labkey/remoteapi/security/CreateContainerResponse.java -text
java/src/org/labkey/remoteapi/security/CreateGroupCommand.java -text
java/src/org/labkey/remoteapi/security/CreateGroupResponse.java -text
java/src/org/labkey/remoteapi/security/CreateUserCommand.java -text
java/src/org/labkey/remoteapi/security/CreateUserResponse.java -text
java/src/org/labkey/remoteapi/security/DeleteContainerCommand.java -text
java/src/org/labkey/remoteapi/security/DeleteContainerResponse.java -text
java/src/org/labkey/remoteapi/security/DeleteGroupCommand.java -text
java/src/org/labkey/remoteapi/security/GetContainersCommand.java -text
java/src/org/labkey/remoteapi/security/GetContainersResponse.java -text
java/src/org/labkey/remoteapi/security/GetGroupPermsCommand.java -text
java/src/org/labkey/remoteapi/security/GetGroupPermsResponse.java -text
java/src/org/labkey/remoteapi/security/GetUsersCommand.java -text
java/src/org/labkey/remoteapi/security/GetUsersResponse.java -text
java/src/org/labkey/remoteapi/security/GroupMembersCommand.java -text
java/src/org/labkey/remoteapi/security/RemoveGroupMembersCommand.java -text
java/src/org/labkey/remoteapi/security/RenameGroupCommand.java -text
java/src/org/labkey/remoteapi/security/RenameGroupResponse.java -text
java/src/org/labkey/remoteapi/test/ClientConfig.java -text
java/src/org/labkey/remoteapi/test/Demo.java -text
java/src/org/labkey/remoteapi/test/ImportRunDemo.java -text
java/src/org/labkey/remoteapi/test/MS2SearchClient.java -text
java/src/org/labkey/remoteapi/test/PipelineFileAvailableClient.java -text
java/src/org/labkey/remoteapi/test/SaveAssayBatchDemo.java -text
java/src/org/labkey/remoteapi/test/Test.java -text
perl/.project -text
perl/src/CPAN.txt -text
perl/src/Labkey/Query/Build.PL -text
perl/src/Labkey/Query/Changes -text
perl/src/Labkey/Query/LICENSE -text
perl/src/Labkey/Query/MANIFEST -text
perl/src/Labkey/Query/MANIFEST.SKIP -text
perl/src/Labkey/Query/README -text
perl/src/Labkey/Query/Todo -text
perl/src/Labkey/Query/lib/Labkey/Query.pm -text
perl/src/Labkey/Query/t/001_load.t -text
perl/src/labkey_api.pl -text
perl/src/latest/Labkey-Query-0.04.tar.gz -text
perl/src/latest/Labkey-Query-0.05.tar.gz -text
perl/src/latest/Labkey-Query-0.07.tar.gz -text
perl/src/latest/Labkey-Query-0.08.tar.gz -text
perl/src/latest/Labkey-Query-0.09.tar.gz -text
perl/src/latest/Labkey-Query-1.00.tar.gz -text
perl/src/latest/Labkey-Query-1.01.tar.gz -text
perl/src/latest/Labkey-Query-1.02.tar.gz -text
perl/src/latest/Labkey-query-0.01.tar.gz -text
perl/src/latest/Labkey-query-0.02.tar.gz -text
perl/src/latest/Labkey-query-0.03.tar.gz -text
python/Labkey/.labkeycredentials.sample -text
python/Labkey/License.txt -text
python/Labkey/MANIFEST.in -text
python/Labkey/NEWS.txt -text
python/Labkey/README.txt -text
python/Labkey/labkey/__init__.py -text
python/Labkey/labkey/messageboard.py -text
python/Labkey/labkey/query.py -text
python/Labkey/labkey/wiki.py -text
python/Labkey/setup.py -text
python/README -text
python/labkeycredentials.txt -text
python/labkeyquery.py -text
sas/MorePeople.xls -text
sas/People.xls -text
sas/build.xml -text
sas/deleteMacros.sas -text
sas/demo.sas -text
sas/macros/_labkeycreateconnection.sas -text
sas/macros/_labkeyexceptiondescribe.sas -text
sas/macros/_labkeysaverows.sas -text
sas/macros/_labkeysendcommand.sas -text
sas/macros/_labkeysharedselectrowshandling.sas -text
sas/macros/labkeydeleterows.sas -text
sas/macros/labkeyexecutesql.sas -text
sas/macros/labkeyinsertrows.sas -text
sas/macros/labkeymakefilter.sas -text
sas/macros/labkeyselectrows.sas -text
sas/macros/labkeysetdefaults.sas -text
sas/macros/labkeyupdaterows.sas -text
